<form class="search-bar-container" action="search()">
  <input
    class="search-input"
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Search a movie"
    [ngModelOptions]="{ standalone: true }"
  />
  <button class="search-button" type="submit" (click)="search()">Search</button>
</form>

<!-- <ng-container *ngIf="movies">
  <ng-container *ngFor="let movie of movies">
    <button (click)="selectecMovie(movie)">
      {{ movie.original_title }}
    </button>
  </ng-container>
</ng-container> -->
